<table id="category">
    <thead>
        <tr>
            <th>Shop by Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Books & Audible</td>
        </tr>
        <tr>
            <td>Electronics</td>
        </tr>
        <tr>
            <td>Home Appliances</td>
        </tr>
        <tr>
            <td>Snacks & Beverages</td>
        </tr>
        <tr>
            <td>Household care</td>
        </tr>
        <tr>
            <td>Mobiles and Laptops</td>
        </tr>
        <tr>
            <td>Fashion category</td>
        </tr>
        <tr>
            <td>Sports Accessories</td>
        </tr>
        <tr>
            <td>Toys and Games</td>
        </tr>
    </tbody>
</table>