<!-- <p>login works!</p> -->

<div>
    <label class="label">Enter your Email ID:</label>
    <input class="input" type ="email" placeholder="Please Enter your Mail ID" [(ngModel)]="login.email">
</div>
<div>
    <label class="label">Enter Your Password:</label>
    <input class="input" type="password" placeholder="Please Enter Your Password" [(ngModel)]="login.password">
</div>
<button (click)="onClickLogin()">LOG IN</button>
<!-- <br>
<p>email : {{login.email}}</p>
<p>password : {{login.password}}</p>
<br> -->
<!-- <div>
    <label>Enter Your Name :</label>
    <input type="text" placeholder="Enter Your Name Here" [(ngModel)]="user.name">
    <br>
    <br>
    <label>Enter Your Job Designation :</label>
    <input type="text" placeholder="Enter Your Job Here" [(ngModel)]="user.job">
</div> -->
<!-- <div>
    <button (click)="onClickUser()">Click</button>
</div>
<p>name : {{user.name}}</p>
<p>job : {{user.job}}</p>
<br>
<button (click)="onDeleteUser()">Click to Delete</button> -->